Repository PaddlePaddle/Paddle-Lite: changes, and which pre-commit hooks are due for each by the changed paths.
All: copyright, clang-format, cpplint

copyright:
  name: copyright
  entry: python ./tools/pre-commit.hooks/copyright.hook
  language: system

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: bash ./tools/pre-commit.hooks/clang-format.hook -i
  language: system

cpplint:
  name: cpplint
  description: Check C++ code style using cpplint.
  entry: bash ./tools/pre-commit.hooks/cpplint.hook
  language: system

opt tools add valid-target:verisilicon_timvx,android_nnapi test=develop
  lite/api/tools/opt_base.cc
Due: none

a (#8555)
  lite/tests/unittest_py/auto_scan_base.py
  lite/tests/unittest_py/model_test/model_test_base.py
  lite/tests/unittest_py/model_test/run_model_test.py
  tools/ci_tools/ci_autoscan_arm.sh
  tools/ci_tools/ci_autoscan_x86.sh
Due: copyright

[NNAdapter][HuaweiKirinNPU] Add conv2d_transpose, bilinear_interp and nearest_interp op (#8514)
  lite/backends/nnadapter/nnadapter/src/driver/huawei_kirin_npu/converter/all.h
  lite/backends/nnadapter/nnadapter/src/driver/huawei_kirin_npu/converter/conv2d_transpose.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_kirin_npu/converter/resize_linear.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_kirin_npu/converter/resize_nearest.cc
  lite/kernels/nnadapter/converter/all.h
  lite/tests/kernels/conv_transpose_compute_test.cc
  lite/tests/kernels/interp_compute_test.cc
Due: copyright, clang-format, cpplint

Only clean up tensorArray variables in some specific scenarios (#8230)
  lite/api/light_api.cc
  lite/api/light_api.h
Due: none

using tensor=OutputNode, using operator=Node
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/batch_normalization.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/conv2d.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/converter.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/converter.h
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/elementwise.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/matmul.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/pool2d.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/reshape.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/softmax.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/unary_activations.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/default_opset.h
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/driver.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/engine.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/engine.h
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/utility.h
  lite/tools/build_linux.sh
Due: copyright, clang-format, cpplint

support_armv8_auto_scan_test (#8407)
  lite/tests/unittest_py/auto_scan_test.py
  lite/tests/unittest_py/op/auto_scan.sh
Due: none

[PassTestPy] Fix OpenCL conv pass test (#8428)
  lite/backends/opencl/cl_kernel/cl_common.h
  lite/backends/opencl/cl_kernel/image/conv2d_1x1_default_kernel.cl
  lite/backends/opencl/cl_kernel/image/conv2d_1x1_default_mali_kernel.cl
  lite/backends/opencl/cl_kernel/image/conv2d_1x1_opt_kernel.cl
  lite/backends/opencl/cl_kernel/image/conv2d_common_kernel.cl
  lite/backends/opencl/cl_kernel/image/depthwise_conv2d_basic_kernel.cl
  lite/backends/opencl/cl_kernel/image/fc_kernel.cl
  lite/kernels/opencl/conv_image_compute.cc
  lite/tests/unittest_py/pass/test_conv_active_fuse_pass.py
  lite/tests/unittest_py/pass/test_conv_bn_fuse_pass.py
  lite/tests/unittest_py/pass/test_conv_conv_fuse_pass.py
  lite/tests/unittest_py/pass/test_conv_elementwise_fuser_pass.py
  lite/tests/unittest_py/pass/test_conv_elementwise_tree_fuse_pass.py
Due: none

fix matmul compute error (#8556)
  lite/kernels/arm/matmul_compute.cc
  lite/kernels/arm/matmul_v2_compute.cc
  lite/kernels/arm/matmul_v2_compute.h
Due: none

add check null,test=develop
  lite/api/light_api.cc
Due: none

null change nullptr,test=develop
  lite/api/light_api.cc
Due: none

update tool class any (#8547)
  cmake/postproject.cmake
  lite/utils/any.h
Due: none

fix opencl softmax pass test=document_fix
  lite/tests/unittest_py/pass/test_remove_tf_redundant_ops_pass.py
  lite/tests/unittest_py/pass/test_transpose_softmax_transpose_pass.py
Due: none

[ARM] fix grid_sampler bug (#8535)
  lite/kernels/arm/grid_sampler_compute.cc
  lite/tests/kernels/grid_sampler_compute_test.cc
Due: none

fix bug when in_h=out_h in_w=out_w test=develop
  lite/tests/unittest_py/op/test_nearest_interp_v2_op.py
Due: none

update some files test=develop
  lite/kernels/opencl/expand_image_compute.cc
  lite/tests/unittest_py/model_test/model_test_base.py
Due: copyright

update model_test_base test=document_fix
  lite/tests/unittest_py/model_test/model_test_base.py
Due: copyright

[NNAdapter][IntelOpenVINO] Init support for OpenVINO (#8552)
  cmake/configure.cmake
  lite/backends/nnadapter/nnadapter/src/driver/CMakeLists.txt
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/CMakeLists.txt
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/all.h
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/batch_normalization.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/conv2d.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/converter.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/converter.h
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/elementwise.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/matmul.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/pool2d.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/reshape.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/softmax.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/converter/unary_activations.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/default_opset.h
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/dependencies.cmake
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/driver.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/engine.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/engine.h
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/utility.cc
  lite/backends/nnadapter/nnadapter/src/driver/intel_openvino/utility.h
  lite/kernels/nnadapter/converter/all.h
  lite/tools/build_linux.sh
Due: copyright, clang-format, cpplint

support dynamic dims test=huawei_ascend_npu
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/converter/fully_connected.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/converter/reshape.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/engine.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/engine.h
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/model_client.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/utility.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/utility.h
  lite/backends/nnadapter/nnadapter/src/operation/elementwise.cc
  lite/backends/nnadapter/nnadapter/src/operation/reshape.cc
  lite/backends/nnadapter/nnadapter/src/utility/utility.cc
  lite/kernels/nnadapter/converter/all.h
Due: copyright, clang-format, cpplint

test=huawei_ascend_npu
  lite/backends/nnadapter/nnadapter/src/driver/cambricon_mlu/converter/reshape.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/converter/reshape.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/utility.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_kirin_npu/converter/reshape.cc
  lite/kernels/nnadapter/converter/mul.cc
Due: copyright, clang-format, cpplint

[OpBugFix] fix nearest_interp_v2 bug (#8538)
  lite/kernels/opencl/nearest_interp_image_compute.cc
  lite/operators/interpolate_v2_op.cc
  lite/operators/op_params.h
  lite/tests/unittest_py/op/test_nearest_interp_v2_op.py
Due: none

[NNAdapter][HuaweiKirinNPU] Relax the accuracy threshold of the batch_norm unit test (#8545)
  lite/tests/kernels/batch_norm_compute_test.cc
Due: none

[Metal] register reshape (#8542)
  lite/kernels/metal/image_op/reshape_image_compute.mm
Due: none

update model_test_base test=document_fix (#8567)
  lite/tests/unittest_py/model_test/model_test_base.py
Due: copyright

Update BoxCoder.metal
  lite/backends/metal/metal_kernel/texture/BoxCoder.metal
Due: none

fix test=huawei_ascend_npu
  lite/backends/nnadapter/nnadapter/src/driver/cambricon_mlu/converter/reshape.cc
  lite/backends/nnadapter/nnadapter/src/driver/huawei_ascend_npu/utility.cc
Due: copyright, clang-format, cpplint

add some configs for armv7/v8 auoscan
  lite/tests/unittest_py/auto_scan_base.py
  lite/tests/unittest_py/auto_scan_test.py
  lite/tests/unittest_py/auto_scan_test_no_rpc.py
  lite/tests/unittest_py/auto_scan_test_rpc.py
  lite/tests/unittest_py/rpc_service/server.py
  lite/tests/unittest_py/rpc_service/start_rpc_server.sh
Due: none

fix cambricon_mlu ci test=document_fix
  lite/tests/api/test_picodet_coco_fp32_v2_3_nnadapter.cc
  lite/tests/api/test_ppyolo2_r50vd_dcn_coco_fp32_v2_3_nnadapter.cc
  lite/tests/api/test_ppyolo_mbv3_large_coco_fp32_v2_3_nnadapter.cc
  lite/tests/api/test_ppyolo_r50vd_dcn_1x_coco_fp32_v2_3_nnadapter.cc
  lite/tests/api/test_ppyolo_tiny_coco_fp32_v2_3_nnadapter.cc
  lite/tests/api/test_ssdlite_mobilenet_v3_large_coco_fp32_static_nnadapter.cc
  lite/tests/api/test_ssdlite_mobilenet_v3_small_coco_fp32_static_nnadapter.cc
Due: none

test=huawei_ascend_npu
  lite/backends/nnadapter/nnadapter/src/driver/cambricon_mlu/converter/reshape.cc
Due: copyright, clang-format, cpplint

fix ci error test=develop
  tools/ci_tools/ci_android_unit_test.sh
Due: none

[Metal] fix Softmax image (#8498)
  lite/backends/metal/metal_kernel/texture/Softmax.metal
  lite/kernels/metal/image_op/softmax_image_compute.mm
Due: none

[Metal] fix Conv2d image (#8496)
  lite/kernels/metal/image_op/conv2d_image_compute.mm
Due: none

[Metal] fix Box coder (#8493)
  lite/backends/metal/metal_kernel/texture/BoxCoder.metal
Due: none

Path conditions:
  copyright: any of: (test/|src/).*\.(c|cc|cxx|cpp|h|hpp|hxx|py)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$
  clang-format: any of: (test/|src/).*\.(c|cc|cxx|cpp|h|hpp|hxx)$
  cpplint: any of: (test/|src/).*\.(c|cc|cxx|cpp|h|hpp|hxx)$, but not: (?!.*third_party)^.*$ | (?!.*book)^.*$i | *\.pb\.cpp
